<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src='logo-branca.png' height="100"/>
    </a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white mx-3 active" href="#">Home</a>
        <a class="nav-link text-white mx-3" href="#">Features</a>
        <a class="nav-link text-white mx-3" href="#">About</a>
        <a class="nav-link text-white mx-3" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>


<section class="hero-section">
  <div class="hero-content">
    <h1>SELL CS SKINS</h1>
    <p>Sell your Counter-Strike skins securely and quickly.</p>
    <button>SELL NOW</button>
  </div>
</section>



